@model webapp.Models.HoaDonViewModel
@using webapp.Models
@{
    Model1 db = new Model1();
    ViewBag.makh = new SelectList(db.khachhangs, "id", "tenkh");
    ViewBag.masp = new SelectList(db.sanphams, "id", "tensp");
    ViewBag.Title = "Index";
}
<div>
    <h4>HoaDonViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
